@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-ebonyClay;
}
#root {
  @apply flex items-center justify-center min-h-screen;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

@font-face {
  font-family: kumbh-sans, sans-serif;
  src: url(./assets/fonts/KumbhSans-VariableFont_YOPQ\wght.ttf);
}
@font-face {
  font-family: roboto-slab, serif;
  src: url(./assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
  font-family: space-mono, monospace;
  src: url(./assets/fonts/SpaceMono-Regular.ttf);
}
